/* limpar formatação padrao */
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	background: #e6e6e6 ;
}
h2{
	color: #f7b600;
}
h3{
	color: #565656;
	background: #CCC;
	padding: 5px;
}

/*  Layout  */
#area-cabecalho{
	background-color: #f7b600;	
	padding: 15px;
	text-align: center; /* centralizar texto */
}

#area-logo, #area-menu{
	padding: 10px;
}
#area-principal{
	background: white;	
	width: 920px;
	margin: 0 auto;/*margin=auto: centraliza os componetes*/
	padding: 15px;
}

#area-postagens{
	width: 660px; 
	float: left;
	
}
#area-lateral{ 
	width: 240px;
	float: right;
	margin-bottom: 20px;
}
.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

#rodape{
	clear: both;/* elimina o efeito flutuante */
	text-align: center;
	padding: 15px;
	background: #ccc;
}

.texto-lateral{
	font-size: 0.8em;
	padding:5px ;

}
.conteudo-lateral{
	border-bottom: 1px dotted #CCC;
}

/* Formatação do Menu */
a{
	text-decoration: none;
}

/* link= não visitados visited=visitados */
a:link, a:visited {
	color: #fff;
	padding: 8px 12px;
}

/*hover=passar o mouse em cima*/
a:hover{
	color: #f7b600;
	background: #fff;
}
/*active=ativo quando clica*/
a:active{
	color: #fff;
}
.postagem a:visited , .postagem a:link{
	color: orange;
}

/* Fromatação em geral */

#area-postagens a:link, #area-postagens a:visited{
	color: #orange;
}
#area-lateral a:link, #area-lateral a:visited{
	color: orange;
}
#area-lateral a:hover{
	color: #f7b600;
}

h1{
	color: #4e4e4e;
	font-size: 2.5em;
} 
h2{
	color:#f7b600 ;
}

.branco{
	color:white;
}

.data-postagem{
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}