li a{
	text-decoration: none;
	background: red;
	display: block;
	margin: 5px;
	padding: 5px;
	width: 200px;
	color: white;
}
li a:hover , .selecionado{
	background-color: black;
	margin: 5px;
	padding: 5px;
	width: 200px;

}

ul{
	margin-top: 30px;
}
