/* limpar formatação padrao */
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 16px;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	background: #e6e6e6 ;
}


/*  Layout  */
#area-cabecalho{
	background-color: #f7b600;	
	padding: 15px;
	text-align: center; /* centralizar texto */
}

#area-logo, #area-menu{
	padding: 10px;
}
#area-principal{
	background: white;	
	width: 920px;
	margin: 0 auto;/*margin=auto: centraliza os componetes*/
}

#area-lateral{
	background-color: orange;
}
#area-postagens{
	width: 660px; 
	float: left;
}
#area-lateral{
	width: 240px;
	float: right;
}
.postagem{
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

#rodape{
	clear: both;/* elimina o efeito flutuante */
	text-align: center;
	padding: 15px;
	background: #ccc;
}



/* Formatação do Menu */
a{
	text-decoration: none;
}

/* link= não visitados visited=visitados */
a:link, a:visited {
	color: #fff;
	padding: 8px 12px;
}

/*hover=passar o mouse em cima*/
a:hover{
	color: #f7b600;
	background: #fff;
}
/*active=ativo quando clica*/
a:active{
	color: #fff;
}



/* Fromatação em geral */
h1{
	color: #4e4e4e;
	font-size: 2.5em;
}

.branco{
	color:white;
}